In [1]:
import pandas as pd

In [2]:
june2019 = pd.read_csv("201906-citibike-tripdata.csv")
july2019 = pd.read_csv("201907-citibike-tripdata.csv")
aug2019 = pd.read_csv("201908-citibike-tripdata.csv")
june2020 = pd.read_csv("202006-citibike-tripdata.csv")
july2020 = pd.read_csv("202007-citibike-tripdata.csv")
aug2020 = pd.read_csv("202008-citibike-tripdata.csv")

In [3]:
from datetime import datetime
june2019['starttime'] = pd.to_datetime(june2019['starttime'])
june2019['day_of_week'] = june2019['starttime'].dt.day_name()
june2019["month"] = "June"
june2019["year"] = "2019"
july2019['starttime'] = pd.to_datetime(july2019['starttime'])
july2019['day_of_week'] = july2019['starttime'].dt.day_name()
july2019["month"] = "July"
july2019["year"] = "2019"
aug2019['starttime'] = pd.to_datetime(aug2019['starttime'])
aug2019['day_of_week'] = aug2019['starttime'].dt.day_name()
aug2019["month"] = "August"
aug2019["year"] = "2019"
june2020['starttime'] = pd.to_datetime(june2020['starttime'])
june2020['day_of_week'] = june2020['starttime'].dt.day_name()
june2020["month"] = "June"
june2020["year"] = "2020"
july2020['starttime'] = pd.to_datetime(july2020['starttime'])
july2020['day_of_week'] = july2020['starttime'].dt.day_name()
july2020["month"] = "July"
july2020["year"] = "2020"
aug2020['starttime'] = pd.to_datetime(aug2020['starttime'])
aug2020['day_of_week'] = aug2020['starttime'].dt.day_name()
aug2020["month"] = "August"
aug2020["year"] = "2020"

In [4]:
summerbummer = [june2019,july2019,aug2019,june2020,july2020,aug2020]

sb = pd.concat(summerbummer)

sb.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,day_of_week,month,year
0,330,2019-06-01 00:00:01.500,2019-06-01 00:05:31.7600,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,Saturday,June,2019
1,830,2019-06-01 00:00:04.240,2019-06-01 00:13:55.1470,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,Saturday,June,2019
2,380,2019-06-01 00:00:06.019,2019-06-01 00:06:26.7790,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,Saturday,June,2019
3,1155,2019-06-01 00:00:06.776,2019-06-01 00:19:22.5380,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,Saturday,June,2019
4,1055,2019-06-01 00:00:07.520,2019-06-01 00:17:42.5580,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,Saturday,June,2019

In [14]:
sb.to_csv("combined.csv")